/*************************
  *** Общие стили ***
**************************/
* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

.btn {
	width: 240px;
}


body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 55px;
}
h2, h3,
h4 {
  text-transform: uppercase;
}

header a {
	font-weight: 600;
	text-transform: uppercase;
	color: #000000;
}


.container {
  box-sizing: border-box;
  position: relative;
  display:flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:space-around;
	align-items: center;
  min-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
header, .slider{
	  background-color: #eeeeee;
}
.logo {
}
.menu {
}

button {
	border: none;
}
.link {
}

.logo {
	transition: all 0.2s;
}

.logo:hover {
	opacity: 0.8;
}

.logo:active {
	opacity: 0.3;
}

.title {
	font-size: 24px;
	line-height: 125%;
	font-weight: bold;
}

/* Кнопки (начало) */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: white;
}
.btns {
  background-image: url(../img/buttons.png);
  height: 15px;
  width: 15px;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}
.btns-active {
  background-image: url(../img/active.png);
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
	background-color: #fb565a;
}

.btn-danger:hover {
	background-color: #e74246;
}

.btn-danger:active {
	background-color: #d7373b;
}

.btn-success {
	background-color: #00ca74;
}

.btn-success:hover {
	background-color: #00bc6c;
}

.btn-success:active {
	background-color: #00aa62;
}

.btn-warning {
	background-color: #efc849;
}
.slider-item {
  display: none;
}
.item-active {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  align-items: center;
}
.slider-content {
	width: 380px;
}
.slider-buttons {
  position: absolute;
  display: block;
  top: 300px;
  left: 700px;
  width: 100px;
  height: 50px;
}
.slide-one {
  background: url(../img/nerds-index-slide1.png);
  background-size: contain;
  width: 700px;
  height: 415px;
}

.menu {
	margin-left: 202px;
	margin-right: 250px;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	width: 438px;
}
.services-item img {
  width: 300px;
  height: 145px;
}

.icon-cart {
	position: relative;
}

.about-us {

}

/* Секция HEADER (конец) */


/* Секция SLIDER (начало) */
.slider {
	background-color: #eeeeee;
}

.slider-item {
	display: none;
	width: 100%;
	height: 413px;

	background-repeat: no-repeat;
	background-position: 431px 0;
}

.slider .item-one {
	background-image: url('../img/slide-1.png');
}

.slider .item-two {
	background-image: url('../img/slide-2.png');
}

.slider .item-three {
	background-image: url('../img/slide-3.png');
}

.slider .item-active {
	display: flex;
}

.slider-content {
	display: flex;
	flex-direction: column;

	width: 385px;
	height: 268px;
}

.clients {
  display: flex;
  opacity: 0.3;
}

.map {
  width: 1440px;
  height: 415px;
  background-image: url(../img/map-marker.png);
  background-size: 1440px 415px;
}

.slider-content .btn {
	width: 240px;
}

.slider-buttons {
	position: absolute;
	top: 300px;
	left: 555px;
	display: flex;
	justify-content: space-between;
	width: 90px;
}

.slider-buttons .btn {
	position: relative;
	padding: 0;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: #ffffff;
}

.slider-buttons .btn-active::before {
	position: absolute;
	top: 5px;
	left: 5px;

	content: "";

	width: 4px;
	height: 4px;
	border: 2px solid #c1c1c1;
	border-radius: 100%;
	background-color: transparent;
}

.slider-buttons .btn:hover {
	background-color: #b1b1b1;
}

.slider-buttons .btn:active {
	background-color: #cccccc;
}

/* Секция SLIDER (конец) */


/* Секция SERVICES (начало) */
.services .container {
	justify-content: space-between;
	padding-top: 80px;
	padding-bottom: 80px;
}

.services-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 300px;
	min-height: 345px;
}

.services-item .title {
	margin-top: 26px;
	margin-bottom: 26px;
	text-transform: uppercase;
}

.services-item .text {
	margin-bottom: 35px;
}

/* Секция SERVICES (конец) */

/* Секция ABOUT-US (начало) */
.about-us .wrapper {
	display: flex;
	width: 1160px;

	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

/* Секция ABOUT-US (конец) */

/* Секция CLIENTS (начало) */




/* Секция CLIENTS (конец) */


/* Секция CONTACTS (начало) */




/* Секция CONTACTS (конец) */


/* Секция FOOTER (начало) */



/* Секция FOOTER (конец) */