html {
  font-size: 16px;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: ghostwhite;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
h3,
h4 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.container {
  box-sizing: border-box;
  position: relative;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: inline-block;
}
.menu {
  width: 500px;
  display: inline-block;
}
ul.menu-list li {
  display: inline-block;
  margin-left: 30px;
  list-style-type: none;
  font-size: 16px;
}
.link {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 285px;
}

.link::before {
  position: absolute;
  width: 15px;
  height: 15px;
  content: "";

  background-repeat: no-repeat;
  background-position: center;
}
.icon-cart {
  position: relative;
}

.icon-cart::before {
  position: absolute;
  right: 90px;
  background-image: url(../img/cart.svg);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: white;
}
.btns {
  background-image: url(../img/buttons.png);
  height: 15px;
  width: 15px;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}
.btn-active {
  background-image: url(../img/active.png);
}
.btn-danger {
  background-color: #fb5559;
}
.btn-success {
  background-color: #00c973;
}
.btn-warning {
  background-color: #efc749;
}
.slider-item {
  position: relative;
  display: none;
}
.item-active {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 400px;
  text-align: left;
}
.slider-content {
  position: absolute;
  display: block;
  top: 50px;
  left: 100px;
  width: 300px;
  height: 400px;
}
.slider-buttons {
  position: absolute;
  display: block;
  top: 200px;
  left: 400px;
  width: 100px;
  height: 50px;
}
.slide-one {
  position: absolute;
  display: block;
  background: url(../img/nerds-index-slide1.png);
  background-size: contain;
  left: 500px;
  width: 600px;
  height: 350px;
}

.services-item {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 20px 90px;
}
.services-item img {
  width: 200px;
  height: 100px;
}
.services-item p {
  width: 200px;
  margin: 15px 0;
}

.about-us {
  width: 100%;
}

.about-us-more {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}
ul.us {
  list-style-image: url(../img/line.png);
}
li::marker {
  vertical-align: middle;
}
.about-us-stats {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 35%;
}

table {
  display: inline;
}
tr.text-percent {
  font-size: 2.2rem;
}
tr.text-stats {
  font-size: 0.7rem;
}

.clients {
  display: inline;
  opacity: 0.3;
}

.map {
  width: 1200px;
  height: 345px;
  background-image: url(../img/map-marker.png);
  background-size: 1200px 345px;
}
.address {
  position: absolute;
  left: 70px;
  top: 65px;
  width: 250px;
  height: 250px;
  border: none;
  background-color: white;
  background-size: 250px 250px;
}

ul.social li {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  list-style-type: none;
  font-size: 16px;
  width: 70px;
  height: 70px;
  background-color: #e1e1e1;
  border-radius: 50%;
}
.icon-vk::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  content: "";

  background-image: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-fb::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  content: "";

  background-image: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-insta::before {
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  content: "";

  background-image: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.motto {
  display: inline-block;
  margin-left: 150px;
}
.nav-social {
  display: inline-block;
}
